# Environments
.venv
env/
venv/
ENV/

# Python
__pycache__/
*.py[cod]
*$py.class
*.so

# Data
data/*
!data/.gitkeep

# Jupyter
.ipynb_checkpoints

# IDEs
.vscode/
.idea/

# NVIDIA/Logs
*.log
*.pid
nemo_experiments/

# Next.js / Frontend
src/frontend/.next/
src/frontend/node_modules/

# Local Databases (SQLite / ChromaDB)
src/backend/database/data/
